<div class="registration-container">
  <h2>Registration</h2>
  <form [formGroup]="formValidService.userForms" (ngSubmit)="SubmitData()">
    <!-- Username -->
    <label for="firstname">FirstName:</label>
    <input
      type="text"
      id="firstname"
      [(ngModel)]="userRegisterationModel.firstname"
      formControlName="firstname"
    />
    <div>Please enter a valid username.</div>

    <label for="lastname">LastName:</label>
    <input
      type="lastname"
      id="lastname"
      [(ngModel)]="userRegisterationModel.lastname"
      formControlName="lastname"
    />
    <div>Please enter a valid email address.</div>

    <!-- Password -->
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="userRegisterationModel.email"
      formControlName="email"
    />
    <div>Please enter a valid password.</div>

    <!-- Confirm Password -->
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="userRegisterationModel.password"
      formControlName="password"
    />
    <div>Passwords do not match.</div>

    <button type="submit" [disabled]="formValidService.userForms.valid">
      Register
    </button>
  </form>
</div>
