<div>
  <nav class="navbar">
    <div class="navdiv">
      <div class="logo">
        <h2><b>BASproduct</b></h2>
      </div>

      <div class="mainbar">
        <ul>
          <li><a routerLink="/Home">Home</a></li>

          <li><a routerLink="/AddProduct">+ Sell</a></li>
          <li><a routerLink="/List">List</a></li>
          <li>
            <a routerLink="/Cart">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<br />
<br />

<div class="product-List">
  <button (click)="checkout()" color="primary">Checkout</button>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartDetails">
        <td>{{ product.customer.type }}</td>
        <td>{{ product.customer.name }}</td>
        <td>{{ product.customer.price | currency : "INR" }}</td>
        <td><img src="{{ product.customer.image }}" /></td>
        <td><button (click)="delete(product.cartId)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
