<div>
  <nav class="navbar">
    <div class="navdiv">
      <div class="logo">
        <h2><b>BASproduct</b></h2>
      </div>

      <div class="mainbar">
        <ul>
          <li><a routerLink="/Home">Home</a></li>

          <li><a routerLink="/AddProduct">+ Sell</a></li>
          <li><a routerLink="/List">List</a></li>
          <li>
            <a routerLink="/Cart">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<h1>Update product</h1>

<h3 class="message-p">{{ productMessage }}</h3>
<form #addProduct="ngForm" (ngSubmit)="submit(addProduct)" class="common-form">
  <label for="type">Update Product:</label>
  <input
    type="text"
    id="type"
    [(ngModel)]="productData.type"
    name="type"
    required
  />
  <label for="name">Product Name:</label>
  <input
    type="text"
    id="name"
    [(ngModel)]="productData.name"
    name="name"
    required
  />

  <label for="price">Product Price:</label>
  <input
    type="number"
    id="price"
    [(ngModel)]="productData.price"
    name="price"
    required
  />
  <label for="image">Product Image:</label>
  <input
    type="text"
    id="image"
    [(ngModel)]="productData.image"
    name="image"
    required
  />
  <button type="submit">Update Product</button>
</form>
