<div>
  <nav class="navbar">
    <div class="navdiv">
      <div class="logo">
        <h2><b>BASproduct</b></h2>
      </div>

      <div class="mainbar">
        <ul>
          <li><a routerLink="/Home">Home</a></li>

          <li><a routerLink="/AddProduct">+ Sell</a></li>
          <li><a routerLink="/List">List</a></li>
          <li>
            <a routerLink="/Cart">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="row product-details" *ngIf="productData" id="box1">
  <div class="col-sm-6">
    <img class="product-img" src="{{ productData.image }}" />
  </div>
  <div class="col-sm-6">
    <div class="details">
      <h2>{{ productData.type }}</h2>
      <h3>{{ productData.name }}</h3>
      <h4>{{ productData.price | currency : "INR" }}</h4>
      <button (click)="addToCart(productData.id)">Add to Cart</button>
      &nbsp;
      <button (click)="buyProduct(productData.id)">Buy Now</button>
      <!-- <div class="quantity-group">
        <button (click)="handleQuantity('min')">-</button>
        <input type="text" value="{{ productQuantity }}" />
        <button (click)="handleQuantity('max')">+</button>
      </div> -->
    </div>
  </div>
  <hr />
</div>
