/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
#toast-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  margin-top: 20px;
}
