.container {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 22%; /* Adjust the width as needed */
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.btn {
  background-color: #4aaeb2;
  color: #f9f3f3;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 8px;
}

.btn:hover {
  background-color: #0056b3;
}
.row {
  display: flex;
}

h1 {
  text-align: center;
}

.quan {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 8px;
}
.search {
  text-align: center;
}
/* #c1 {
  display: flex;
  flex-direction: row;
} */

* {
  text-decoration: none;
}
.mainbar {
  justify-content: right;
  margin-left: 1000px;
  margin-top: 5px;
}
.navbar {
  background-color: rgb(241, 148, 17);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar1 {
  background-color: rgb(219, 169, 20);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
button {
  background-color: rgb(104, 68, 161) 04, 68, 161;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}
button a {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.form-control {
  border-radius: 5px;
  margin-left: 25px;
  width: 350px;
  height: 30px;
  border-style: hidden;
}
h2 {
  color: #fff;
}

img {
  width: 100%;
  height: 200px;
}
h2 {
  color: white;
}
.pagination {
  margin-left: 600px;
}
