<div class="main">
  <nav class="navbar">
    <div class="navdiv">
      <div class="logo">
        <h2><b>BASproduct</b></h2>
      </div>

      <div class="mainbar">
        <ul>
          <li><a routerLink="/Home">Home</a></li>

          <li><a routerLink="/AddProduct">+ Sell</a></li>
          <li><a routerLink="/List">List</a></li>
          <li>
            <a routerLink="/Cart">Cart</a>
          </li>
          <button (click)="logout()">Logout</button>
        </ul>
      </div>
    </div>
  </nav>
</div>
<br />

<h1>TOP PURCHASES</h1>
<br />
<div class="search">
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
</div>
<br />

<div class="container">
  <div class="row">
    <ng-container
      *ngFor="
        let item of products
          | paginate
            : { itemsPerPage: 8, currentPage: page, totalItems: totalLength }
      "
    >
      <div class="card col-md-3">
        <div class="card-header">
          <h1>{{ item.type }}</h1>
          <h3>{{ item.name }}</h3>
        </div>
        <div class="card-body">
          <p>{{ item.price | currency : "INR" }}</p>
          <img src="{{ item.image }}" alt="something" />
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" id="detail">
            <a routerLink="/Detail/{{ item.id }}">Details</a>
          </button>
        </div>
      </div>
      <div
        class="course-container"
        *ngIf="
          searchText === '' || item.type.toLowerCase().includes(searchText)
        "
      ></div>
    </ng-container>
  </div>
</div>
<br />
<div class="pagination">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<router-outlet></router-outlet>
