<div>
  <nav class="navbar">
    <div class="navdiv">
      <div class="logo">
        <h2><b>BASproduct</b></h2>
      </div>

      <div class="mainbar">
        <ul>
          <li><a routerLink="/Home">Home</a></li>

          <li><a routerLink="/AddProduct">+ Sell</a></li>
          <li><a routerLink="/List">List</a></li>
          <li>
            <a routerLink="/Cart">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<br /><br />

<h3 class="message-p">{{ addProductMessage }}</h3>
<form (submit)="addProduct()">
  <label for="type">Product Type:</label>
  <input
    type="text"
    id="type"
    [(ngModel)]="Product.type"
    name="type"
    required
    minlength="3"
  />
  <label for="name">Product Name:</label>
  <input
    type="text"
    id="name"
    [(ngModel)]="Product.name"
    name="name"
    required
  />

  <label for="price">Product Price:</label>
  <input
    type="number"
    id="price"
    [(ngModel)]="Product.price"
    name="price"
    required
  />
  <label for="image">Product Image:</label>
  <input
    type="text"
    id="image"
    [(ngModel)]="Product.image"
    name="image"
    required
  />
  <button type="submit">Add Product</button>
</form>

<!-- naveen siddharth -->
