<!-- user-form.component.html -->
<!-- [formGroup]="userForm" (ngSubmit)="onSubmit()" -->

<div class="container">
  <form>
    <div class="form-group">
      <label for="fullName">Full Name:</label>
      <input
        type="text"
        class="form-control"
        id="fullName"
        formControlName="fullName"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="fullAddress">Full Address:</label>
      <input
        type="text"
        class="form-control"
        id="fullAddress"
        formControlName="fullAddress"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="contactNumber">Contact Number:</label>
      <input
        type="text"
        class="form-control"
        id="contactNumber"
        formControlName="contactNumber"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="alternateContactNumber">Alternate Contact Number:</label>
      <input
        type="text"
        class="form-control"
        id="alternateContactNumber"
        formControlName="alternateContactNumber"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
