<div>
  <nav class="navbar">
    <div class="navdiv">
      <div class="logo">
        <h2><b>BASproduct</b></h2>
      </div>

      <div class="mainbar">
        <ul>
          <li><a routerLink="/Home">Home</a></li>

          <li><a routerLink="/AddProduct">+ Sell</a></li>
          <li><a routerLink="/List">List</a></li>
          <li>
            <a routerLink="/Cart">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<br />
<br />
<!-- <p>buy-product works!</p> -->
<div class="container mt-5">
  <div class="card p-3">
    <div class="row">
      <div class="col-6">
        <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm)">
          <div class="form-group">
            <label for="fullName">Full Name:</label>
            <input
              type="text"
              [(ngModel)]="orderDetails.fullName"
              name="fullName"
            />
          </div>

          <div class="form-group">
            <label for="fullAddress">Full Address:</label>
            <input
              type="text"
              [(ngModel)]="orderDetails.fullAddress"
              name="fullAddress"
            />
          </div>

          <div class="form-group">
            <label for="contactNumber">Contact Number:</label>
            <input
              type="text"
              [(ngModel)]="orderDetails.contactNumber"
              name="contactNumber"
            />
          </div>

          <div class="form-group">
            <label for="alternateContactNumber"
              >Alternate Contact Number:</label
            >
            <input
              type="text"
              [(ngModel)]="orderDetails.alternateContactNumber"
              name="alternateContactNumber"
            />
          </div>

          <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
      </div>
      <div class="col-6">
        <table class="table">
          <thead class="thead">
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let product of productDetails">
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>
                <select
                  #quantity
                  class="form-select"
                  [ngModel]="getQuantityForProduct(product.id)"
                  (change)="onQuantityChanged(quantity.value, product.id)"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </td>
              <td>{{ getCalculatedTotal(product.id, product.price) }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>TOTAL</td>
              <td>{{ getCalculatedGrantTotal() }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br />
<br />

<!-- review.component.html -->
<!-- <form>
  <label for="name">Name:</label>
  <input type="text" id="name" required />

  <label for="rating">Rating:</label>
  <input type="number" id="rating" required />

  <label for="comment">Comment:</label>
  <textarea id="comment" required></textarea>

  <button type="submit">Submit Review</button>
</form> -->
