<div class="login-container">
  <div>
    <h1>WELCOME</h1>
    <p>Please enter valid Email</p>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" [(ngModel)]="email" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" required />
  </div>
  <button (click)="login()">Login</button><br /><br />

  Create a new Account?please
  <a routerLink="/SignUp">Register</a>
</div>
