<div>
  <nav class="navbar">
    <div class="navdiv">
      <div class="logo">
        <h2><b>BASproduct</b></h2>
      </div>

      <div class="mainbar">
        <ul>
          <li><a routerLink="/Home">Home</a></li>

          <li><a routerLink="/AddProduct">+ Sell</a></li>
          <li><a routerLink="/List">List</a></li>
          <li>
            <a routerLink="/Cart">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<br />
<br />

<h1>Product List</h1>

<div class="product-List">
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.type }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency : "INR" }}</td>
        <td><img src="{{ product.image }}" /></td>
        <td>
          <button (click)="deleteProduct(product.id)">Delete</button
          ><br /><br />
          <a routerLink="/Update/{{ product.id }}">Edit</a>

          <br />
        </td>
      </tr>
    </tbody>
  </table>
</div>
