table {
  text-align: left;
  color: rgb(0, 0, 0);
  border-collapse: collapse;
  text-align: center;
}
img {
  height: 100px;
  width: 200px;
}
table td,
table th {
  border: 1px solid rgb(6, 0, 12);
  padding: 10px;
  min-width: 160px;
}
.product-List {
  width: 500px;
  display: flex;
  margin-left: 400px;
}

* {
  text-decoration: none;
}
.mainbar {
  justify-content: right;
  margin-left: 1000px;
  margin-top: 5px;
}
.navbar {
  background-color: rgb(241, 148, 17);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar1 {
  background-color: rgb(219, 169, 20);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
button {
  background-color: rgb(34, 123, 183);
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}
button a {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.form-control {
  border-radius: 5px;
  margin-left: 25px;
  width: 350px;
  height: 30px;
  border-style: hidden;
}
h2 {
  color: #fff;
}
