<div class="container mt-5">
  <div class="card p-5 text-center">
    <h1>
      Your order is placed Successfully.It will get delivered to you within 4-5
      business day.
    </h1>
  </div>
</div>
